
<%= provide(:title, 'Вход') %>
<link data-turbolinks-track="true" href="/assets/sessions.css" media="all"
      rel="stylesheet" />

<%= render 'layouts/logo' %>
<%= render 'main_page/header' %>
<div class="left-photo">

</div>

<div class="row-new">
    
</div>
