<footer class="main-footer grid">
  <p class="Phone grid">073-680-6866</p>
  <p class="Adress grid">ул.Осечкина 2/33</p>
  <p class="Language grid">RU UK EN</p>
</footer>
<footer class="main-footer-opacity"></footer><footer class="main-footer grid">
  <p class="Phone grid">073-680-6866</p>
  <p class="Adress grid">ул.Осечкина 2/33</p>
  <p class="Language grid">RU UK EN</p>
</footer>
<footer class="main-footer-opacity"></footer><footer class="main-footer grid">
  <p class="Phone grid">073-680-6866</p>
  <p class="Adress grid">ул.Осечкина 2/33</p>
  <p class="Language grid">RU UK EN</p>
</footer>
<footer class="main-footer-opacity"></footer>