<header class="main_header">
  <img src="/assets/profile-img.png" height="25px">
  <ul id="top-bar">
    <li class="search-top">
      <%= header_link_to_what %>
    </li>
    <li class="gallery-top"><a href="#">ГАЛЕРЕЯ</a></li>
    <li class="about-top"><%= link_to 'О НАС', about_path %></li>
  </ul>
</header>