<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head>



</head>

<body class="ishome">
<div class="main-page grid">

  <%= render 'main_page/header' %>
  <h1>TRAVEL</h1>
  <div class="main-logo">
    <video id="video-bg-element" preload="auto" autoplay="true" muted="true" loop="true">
      <source src="/assets/video.mp4" type="video/mp4" >
      Not found
    </video>
    <div class="logo">
      <img id="tr" src="/assets/travel.png" width="35%">
      <img class="mn" src="/assets/mandry-logo.png" width="60%">
      <img id="ag" src="/assets/agency.png" width="35%">

    </div>
  </div>
  <%= render 'main_page/footer' %>

</div>
<div class="search-page">
</div>

<div class="container-fluid">
  <div class="row">
    <div class="masonry-container">

      <div class="col-md-3 col-sm-4 col-xs-6 item"><img src="/assets/1.jpg"></div>
      <div class="col-md-3 col-sm-4 col-xs-6 item"><img src="/assets/4.jpg"></div>
      <div class="col-md-3 col-sm-4 col-xs-6 item"><img src="/assets/5.jpg"></div>
      <div class="col-md-3 col-sm-4 col-xs-6 item"><img src="/assets/6.jpg"></div>
      <div class="col-md-3 col-sm-4 col-xs-6 item"><img src="/assets/7.jpg"></div>
      <div class="col-md-3 col-sm-4 col-xs-6 item"><img src="/assets/8.jpg"></div>
      <div class="col-md-3 col-sm-4 col-xs-6 item"><img src="/assets/9.jpg"></div>
      <div class="col-md-3 col-sm-4 col-xs-6 item"><img src="/assets/10.jpg"></div>
      <div class="col-md-3 col-sm-4 col-xs-6 item"><img src="/assets/11.jpg"></div>
      <div class="col-md-3 col-sm-4 col-xs-6 item"><img src="/assets/12.jpg"></div>
      <div class="col-md-3 col-sm-4 col-xs-6 item"><img src="/assets/13.jpg"></div>
      <div class="col-md-3 col-sm-4 col-xs-6 item"><img src="/assets/14.jpg"></div>

    </div>
  </div>
</div>

</body>
</html>
