<%= provide(:title, "Mandry") %>
<!DOCTYPE html>
<html>
<head>



</head>

<body class="ishome">
<div class="main-page grid">

  <%= render 'main_page/header' %>
  <div class="main-logo">
    <video id="video-bg-element" preload="auto" autoplay="true" muted="true" loop="true">
      <source src="/assets/video.mp4" type="video/mp4" >
      Not found
    </video>
    <div class="logo">
      <img id="tr" src="/assets/travel.png" width="35%">
      <img class="mn" src="/assets/mandry-logo.png" width="60%">
      <img id="ag" src="/assets/agency.png" width="35%">

    </div>
  </div>
  <%= render 'main_page/footer' %>

</div>
<div class="search-page" id="search_page">
</div>
    <script>
        $(".main_header a").mPageScroll2id();
    </script>

</body>
</html>
